{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br>
    <div class="creditos-equipe">
        <h2 class="titulo">Agradecimentos para os desenvolvedores do projeto</h2>

        <h2 id="titulos_cargo">CEO e Fundador</h2>
        <p id="responsavel">José Carlos</p>

        <h2 id="titulos_cargo">Diretor de Tecnologia</h2>
        <p>José Carlos</p>

        <h2 id="titulos_cargo">Engenheiro de Software Full Stack</h2>
        <p>José Carlos</p>

        <h2 id="titulos_cargo">Estagiário de TI</h2>
        <p>José Carlos</p>

        <h2 id="titulos_cargo">Suporte Técnico</h2>
        <p>José Carlos</p>

        <h2 id="titulos_cargo">Especialista em Banco de Dados</h2>
        <p>José Carlos</p>

        <h2 id="titulos_cargo">Beta tester</h2>
        <p>José Carlos</p>

        <h2 id="titulos_cargo">Gerente de Projetos e Prazos irreais</h2>
        <p>José Carlos</p>

        <h2 id="titulos_cargo">Responsável pelo Café</h2>
        <p>José Carlos</p>

        <h2 id="titulos_cargo">Inspetor de Limpeza do Código</h2>
        <p>José Carlos</p>

        <h2>agradecimento ao José Carlos</h2>
    </div>
{% endblock %}