{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>vc esta no home</h1>
        <div class="card-produto">
            
            {% for product in products %}
                <div class="div-produto">
                    <img src="{{ product.product_image.url }}"  alt="{{ product.name_product }}" width="300" height="300">
                    <p>{{ product.name_product }}</p>
                    <p>{{ product.stock_quantity }}</p>
                    <a href="{{ STREAMLIT_URL }}/?product_id={{ product.id }}" target="_blank">detalhes do produto</a>                </div>
            {% endfor %}

        </div>
{% endblock %}