{% extends "base.html" %}
{% load static %}

   {% block content %}
<br><br><br>
        <div>
            <h1 class="title">SLC2</h1>
            <p class="description">Bem vindo ao site SLC2, você ja possui uma conta?</p>
        </div>

    <div class="father-pag-login">
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form class="form-login" id="id-login" method="POST">{% csrf_token %}
            <h1 class="titulo-form">Login</h1>
            <div class="inputs">
                <input class="camp-inputs" type="email" placeholder="Digite seu email" id="input-email" name="email">
                <input class="camp-inputs" type="password" placeholder="Digite sua senha" id="input-password" name="password">
            </div>
            
            <button type="submit" id="submit-form-login">Entrar</button>
            <br>
            <a href="{% url 'singup' %}">cadastro</a>  
        </form>
    </div>
{% endblock %}



    <script>
        const $ = (elemento) => document.querySelector(elemento);

        $("#id-sing-up").addEventListener("submit", (ev) => {
            const email = $("#input-email").value.trim();
            const senha = $("#input-password").value;

            if (email === "" || senha === "") {
                ev.preventDefault();
                alert("Preencha todos os campos antes de enviar.");
            }
        });
    </script>
</html>